In [1]:
import os
import sys
import pandas as pd
import numpy as np

In [2]:
! pwd

/Users/surajsakaram/GA_DSI/capstone/code

In [22]:
directory = '/Users/surajsakaram/GA_DSI/capstone/data/'
os.chdir(data)
! pwd

/Users/surajsakaram/GA_DSI/capstone/data_test

In [8]:
file_path = '/Users/surajsakaram/GA_DSI/capstone/data/46dc2547-0ffe-4bfa-ab8a-bfe04c9d1fc9/2c9af122-8b71-4e50-81b2-e95a5eeaeb03.mirbase21.mirnas.quantification.txt'

df = pd.read_csv(file_path, delimiter='\t')

In [9]:
df.head()

       miRNA_ID  read_count  reads_per_million_miRNA_mapped cross-mapped
0  hsa-let-7a-1       56851                    12062.449502            N
1  hsa-let-7a-2       56132                    11909.894557            Y
2  hsa-let-7a-3       56890                    12070.724388            N
3    hsa-let-7b       58020                    12310.483898            N
4    hsa-let-7c       22880                     4854.599648            Y

In [10]:
df.shape

(1881, 4)

In [11]:
file_path_2 = '/Users/surajsakaram/GA_DSI/capstone/data/2d31a823-7aad-4dc9-9c2b-70e922c54685/8791087c-58f3-4ec2-9500-7f065fd79f5f.mirbase21.mirnas.quantification.txt'
df_2 = pd.read_csv(file_path_2, delimiter='\t')

In [12]:
df_2.head()

       miRNA_ID  read_count  reads_per_million_miRNA_mapped cross-mapped
0  hsa-let-7a-1       86329                     7946.156595            N
1  hsa-let-7a-2       85560                     7875.373956            N
2  hsa-let-7a-3       86588                     7969.996261            N
3    hsa-let-7b      132819                    12225.330686            N
4    hsa-let-7c       18627                     1714.523033            N

In [13]:
df_2.shape

(1881, 4)

In [14]:
(df.miRNA_ID == df_2.miRNA_ID).unique()

array([ True])

In [15]:
df['cross-mapped'].value_counts()

N    1833
Y      48
Name: cross-mapped, dtype: int64

In [42]:
data_file_paths = []

for root, dirs, files in os.walk(directory):
    for file in files:
        if(file.endswith('.mirnas.quantification.txt')):
#             print(os.path.join(root,file))
            data_file_paths.append(os.path.join(root, file))

data_file_paths

['/Users/surajsakaram/GA_DSI/capstone/data_test/0a8a1650-86c2-4aad-bd33-518bc02a9610/3765de5b-515f-47c9-adfb-ddd513fb6797.mirbase21.mirnas.quantification.txt',
 '/Users/surajsakaram/GA_DSI/capstone/data_test/0a29f991-7e48-4d51-9cd1-f3b26e627ff5/6f43013b-11db-4fde-a8a4-0cc2b6f11855.mirbase21.mirnas.quantification.txt',
 '/Users/surajsakaram/GA_DSI/capstone/data_test/0a3a4c10-211c-48bf-9efb-e35cdfdac8f1/905c2792-0f7f-4eb3-b3b2-901d8a122736.mirbase21.mirnas.quantification.txt',
 '/Users/surajsakaram/GA_DSI/capstone/data_test/0a5c12f9-09d3-47fb-b80e-14a09c5bbcf6/8bcc2c90-d3b9-48e7-bae5-2cdacab5a59d.mirbase21.mirnas.quantification.txt',
 '/Users/surajsakaram/GA_DSI/capstone/data_test/0a03e9ea-fd9b-499a-ba25-7fbb4f076b8e/1af46e44-e0c2-48ca-ace9-89ed28565818.mirbase21.mirnas.quantification.txt',
 '/Users/surajsakaram/GA_DSI/capstone/data_test/0a4c45a7-2b79-4109-b07c-5b468e285f42/6eacf45b-7ae3-40c0-86e5-489f0ea2a4e3.mirbase21.mirnas.quantification.txt']

In [45]:
tmp_df = pd.read_csv(data_file_paths[0], delimiter='\t')
tmp_df.head()

       miRNA_ID  read_count  reads_per_million_miRNA_mapped cross-mapped
0  hsa-let-7a-1        2664                     3259.353513            N
1  hsa-let-7a-2        2632                     3220.202119            N
2  hsa-let-7a-3        2686                     3286.270096            N
3    hsa-let-7b       10399                    12722.979421            N
4    hsa-let-7c         428                      523.649889            N

In [46]:
df = pd.DataFrame([], columns = ['miRNA_ID'])

In [48]:
df['miRNA_ID'] = tmp_df['miRNA_ID']

In [49]:
df.head()

       miRNA_ID
0  hsa-let-7a-1
1  hsa-let-7a-2
2  hsa-let-7a-3
3    hsa-let-7b
4    hsa-let-7c

In [70]:
df.shape

(1881, 1)

In [130]:
pd.merge(df, tmp_df[['miRNA_ID', 'reads_per_million_miRNA_mapped']], how='outer', on='miRNA_ID')

,miRNA_ID,read_count,reads_per_million_miRNA_mapped_x,cross-mapped,reads_per_million_miRNA_mapped_y
0,hsa-let-7a-1,2664,3259.353513,N,3259.353513
1,hsa-let-7a-2,2632,3220.202119,N,3220.202119
2,hsa-let-7a-3,2686,3286.270096,N,3286.270096
3,hsa-let-7b,10399,12722.979421,N,12722.979421
4,hsa-let-7c,428,523.649889,N,523.649889
5,hsa-let-7d,285,348.692099,N,348.692099
6,hsa-let-7e,151,184.745638,N,184.745638
7,hsa-let-7f-1,525,642.327550,N,642.327550
8,hsa-let-7f-2,565,691.266792,N,691.266792
9,hsa-let-7g,224,274.059755,N,274.059755
10,hsa-let-7i,359,439.229696,N,439.229696
11,hsa-mir-1-1,6,7.340886,N,7.340886
12,hsa-mir-1-2,12,14.681773,N,14.681773
13,hsa-mir-100,902,1103.579906,N,1103.579906
14,hsa-mir-101-1,2499,3057.479140,N,3057.479140
15,hsa-mir-101-2,2597,3177.380282,N,3177.380282
16,hsa-mir-103a-1,4373,5350.282624,Y,5350.282624
17,hsa-mir-103a-2,4340,5309.907750,Y,5309.907750
18,hsa-mir-103b-1,0,0.000000,N,0.000000
19,hsa-mir-103b-2,0,0.000000,N,0.000000
20,hsa-mir-105-1,22,26.916583,N,26.916583
21,hsa-mir-105-2,26,31.810507,N,31.810507
22,hsa-mir-106a,4,4.893924,Y,4.893924
23,hsa-mir-106b,545,666.797171,N,666.797171
24,hsa-mir-107,34,41.598356,Y,41.598356
25,hsa-mir-10a,765,935.963002,N,935.963002
26,hsa-mir-10b,16849,20614.432182,N,20614.432182
27,hsa-mir-1178,0,0.000000,N,0.000000
28,hsa-mir-1179,0,0.000000,N,0.000000
29,hsa-mir-1180,5,6.117405,N,6.117405
...,...,...,...,...,...
1851,hsa-mir-920,0,0.000000,N,0.000000
1852,hsa-mir-921,0,0.000000,N,0.000000
1853,hsa-mir-922,0,0.000000,N,0.000000
1854,hsa-mir-924,0,0.000000,N,0.000000
1855,hsa-mir-92a-1,4320,5285.438129,N,5285.438129
1856,hsa-mir-92a-2,4209,5149.631732,N,5149.631732
1857,hsa-mir-92b,32,39.151394,N,39.151394
1858,hsa-mir-93,2871,3512.614090,N,3512.614090
1859,hsa-mir-933,0,0.000000,N,0.000000
1860,hsa-mir-934,0,0.000000,N,0.000000
1861,hsa-mir-935,0,0.000000,N,0.000000
1862,hsa-mir-936,0,0.000000,N,0.000000
1863,hsa-mir-937,5,6.117405,N,6.117405
1864,hsa-mir-938,0,0.000000,N,0.000000
1865,hsa-mir-939,2,2.446962,N,2.446962
1866,hsa-mir-940,7,8.564367,N,8.564367
1867,hsa-mir-941-1,0,0.000000,N,0.000000
1868,hsa-mir-941-2,0,0.000000,N,0.000000
1869,hsa-mir-941-3,0,0.000000,N,0.000000
1870,hsa-mir-941-4,0,0.000000,N,0.000000
1871,hsa-mir-941-5,0,0.000000,N,0.000000
1872,hsa-mir-942,6,7.340886,N,7.340886
1873,hsa-mir-943,0,0.000000,N,0.000000
1874,hsa-mir-944,106,129.688991,N,129.688991
1875,hsa-mir-95,2,2.446962,N,2.446962
1876,hsa-mir-9500,0,0.000000,N,0.000000
1877,hsa-mir-96,14,17.128735,N,17.128735
1878,hsa-mir-98,20,24.469621,N,24.469621
1879,hsa-mir-99a,165,201.874373,N,201.874373
1880,hsa-mir-99b,10348,12660.581888,N,12660.581888

In [85]:
for i in range(df.shape[0]):
    if df.loc[i, 'miRNA_ID'] == tmp_df.loc[i, 'miRNA_ID']:
        df['filename'] = tmp_df['reads_per_million_miRNA_mapped']

In [86]:
df.head()

       miRNA_ID      filename
0  hsa-let-7a-1   3259.353513
1  hsa-let-7a-2   3220.202119
2  hsa-let-7a-3   3286.270096
3    hsa-let-7b  12722.979421
4    hsa-let-7c    523.649889

In [158]:
def get_list_of_files(directory, ext='.mirnas.quantification.txt'):
    '''
    ** Description **
    Extract out files of your choosing from subdirectories by specifying file ending or extension.
    
    ** Parameters **
    directory: filepath to parent directory 
    ext: file extension or ending to search by
    '''
    file_paths = []
    for root, dirs, files in os.walk(directory):
        for file in files:
            if(file.endswith(ext)):
                file_paths.append(os.path.join(root, file))
    
    return file_paths

In [159]:
! pwd

/Users/surajsakaram/GA_DSI/capstone/data_test

In [160]:
file_paths = get_list_of_files('.')
file_paths

['./0a8a1650-86c2-4aad-bd33-518bc02a9610/3765de5b-515f-47c9-adfb-ddd513fb6797.mirbase21.mirnas.quantification.txt',
 './0a29f991-7e48-4d51-9cd1-f3b26e627ff5/6f43013b-11db-4fde-a8a4-0cc2b6f11855.mirbase21.mirnas.quantification.txt',
 './0a3a4c10-211c-48bf-9efb-e35cdfdac8f1/905c2792-0f7f-4eb3-b3b2-901d8a122736.mirbase21.mirnas.quantification.txt',
 './0a5c12f9-09d3-47fb-b80e-14a09c5bbcf6/8bcc2c90-d3b9-48e7-bae5-2cdacab5a59d.mirbase21.mirnas.quantification.txt',
 './0a03e9ea-fd9b-499a-ba25-7fbb4f076b8e/1af46e44-e0c2-48ca-ace9-89ed28565818.mirbase21.mirnas.quantification.txt',
 './0a4c45a7-2b79-4109-b07c-5b468e285f42/6eacf45b-7ae3-40c0-86e5-489f0ea2a4e3.mirbase21.mirnas.quantification.txt']

In [162]:
for file in file_paths:
    print(file.split('/')[1])

0a8a1650-86c2-4aad-bd33-518bc02a9610
0a29f991-7e48-4d51-9cd1-f3b26e627ff5
0a3a4c10-211c-48bf-9efb-e35cdfdac8f1
0a5c12f9-09d3-47fb-b80e-14a09c5bbcf6
0a03e9ea-fd9b-499a-ba25-7fbb4f076b8e
0a4c45a7-2b79-4109-b07c-5b468e285f42

In [165]:
def process_files(list_of_file_paths):
    # create a dataframe with IDs using one of the files
    df = pd.read_csv(list_of_file_paths[0], delimiter='\t')
    df.drop([col for col in df.columns if col != 'miRNA_ID'], axis=1, inplace=True)
    
    for file in list_of_file_paths:
        sample_id = file.split('/')[1]
        tmp_df = pd.read_csv(file, delimiter='\t')
        tmp_df.rename(columns={'reads_per_million_miRNA_mapped': sample_id}, inplace=True)
        df = pd.merge(df, tmp_df[['miRNA_ID', sample_id]], how='outer', on='miRNA_ID')
    
    return df

In [166]:
final_df = process_files(file_paths)

In [167]:
final_df.head()

,miRNA_ID,0a8a1650-86c2-4aad-bd33-518bc02a9610,0a29f991-7e48-4d51-9cd1-f3b26e627ff5,0a3a4c10-211c-48bf-9efb-e35cdfdac8f1,0a5c12f9-09d3-47fb-b80e-14a09c5bbcf6,0a03e9ea-fd9b-499a-ba25-7fbb4f076b8e,0a4c45a7-2b79-4109-b07c-5b468e285f42
0,hsa-let-7a-1,3259.353513,11156.973241,14881.482903,20610.806440,13738.116403,20386.065803
1,hsa-let-7a-2,3220.202119,11214.999367,14835.215990,20554.393285,13766.280179,20545.297517
2,hsa-let-7a-3,3286.270096,11273.509043,14886.166363,20580.999489,13745.049025,20466.783263
3,hsa-let-7b,12722.979421,25009.260002,23354.998359,24669.152846,18995.730025,28007.556596
4,hsa-let-7c,523.649889,451.636675,1227.634347,2237.321743,6325.497333,10689.755733